<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    ">
    
  <bean name="st" class="com.core.Collection.Inject.Student">
  <!-- list collection inject -->
  <property name="phoneNum">
<list>
<value>233333334</value>
<value>233333334</value>
<value>233333334</value>
</list>
</property>
        
         <!-- set collection inject -->
  <property name="address">
 <set>
 <value>jaipur</value>
 <value>siraha</value>
 <value>saptari</value>
 </set>
        </property>
        
         <!--map collection inject -->
  <property name="course">
 <map>
 <entry key="java" value="2 month"/>
 <entry key="python" value="2 month"/>
  <entry key="css" value="2 month"/>
  </map>
  </property>
  
  </bean>
  
  
    </beans>
